.header {
	background: url(../imgs/empower3copy.jpg) no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 300px;
}

h1 {
	font-size: 32pt;
	color: white;
}

body {
	text-align: center;
	font-family: "Arial";
	background-color: #1da9a8;
}

.wrapper {
	padding: 0 200px;
}

button {
	width: 200px;
	height: 50px;
	background-color: #ef5a7c;
	font-size: 18pt;
}

button a {
	color: white;
	text-decoration: none;
}

button:hover {
	background-color: #bd163c;
}